header{
        width: 100%;
        height: 100%;
}

.cover{
        background: url(asssets/H%C3%A1tt%C3%A9rk%C3%A9p.jpg) no-repeat;
        width: 100%;
        height: 100%;
        
}

h1, p{
        text-align: center;
        
}