*{
	box-sizing: border-box;
}

body{
	background: url(asssets/H%C3%A1tt%C3%A9rk%C3%A9p.jpg) no-repeat center/cover fixed; 
	text-align: center;
	width 100%;
	height: 100%;
}

.cover{
 	width 100%;
	height: 100%;
	color: #000;
	font-weight: bold;
	text-shadow: .1rem .1rem #cfcfcf;
}

.cover h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	line-height: 2.5rem;
	margin: 10rem 1.5rem 0; 
}

.cover p{
	font-size: 1.3rem;
	font-style: italic;
	margin-top: 1.5rem;
}
